/* 
* Home css
*/

#hero-home {
    background-color: var(--color-blue);
}

#hero-home .container {
    position: relative;
    top: 100px;
    width: 100vw;
    height: calc(100dvh - 200px);
    min-height: 650px;
    display: flex;
    justify-content: center;
}

#hero-home .container .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero-home .container .content h1 {
    font-family: var(--font-primary);
    color: var(--color-white);
    font-size: 110px;
    line-height: 100px;
    text-align: center;
    margin-top: -50px;
    white-space: nowrap;
}

#hero-home .container .content h1 span {
    display: block;
}

#hero-home .container .content h1 span:last-child {
    margin-top: -1rem;
}

/* Makes each block act as a reveal window */
.animation-reveal {
  overflow: hidden;
  display: block;
}

/* Avoid layout jumps while animating */
.animation-reveal > * {
  will-change: transform, opacity;
}

#hero-home .container .content #accent-tag {
    font-family: var(--font-accent);
    font-size: 62px;
    color: var(--color-white);
    transform: rotate(-10deg);
    text-align: center;
    margin-top: -70px;
}

#hero-home .container .cat-svg {
  position: absolute;
  top: 57.5%;
  right: 9rem;
  transform: translateY(-50%);
  width: 350px;
  height: auto;
  z-index: 1;
  pointer-events: none;
}

#hero-home .container .cat-ball-svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 250px;
  z-index: 1;
  pointer-events: none;
}

#hero-home .container .cat-paw-svg {
  position: absolute;
  top: -100px;
  right: 0;
  width: 400px;
  z-index: 1;
  pointer-events: none;
}

#hero-home .bottom-bar {
    position: relative;
    bottom: -100px;
    margin: 0 2.6rem;
    width: calc(100vw - 5.2rem);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hero-home .tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    font-family: var(--font-primary);
    color: var(--color-white);
    font-size: var(--font-size-sm);
}

/* #hero-home .tag span:nth-child(2) {
    margin-top: -10px;
} */

#hero-home .bottom-bar button {
    position: absolute;
    top: calc(50% - 21px);
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--font-secondary);
    color: var(--color-white);
    font-size: var(--font-size-lg);
    background-color: transparent;
    border: none;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#hero-home .bottom-bar button:hover {
    cursor: pointer;
}

#hero-home .bottom-bar button img {
    height: 40px;
}

#hero-home .bottom-bar .copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
    height: 40px;
    font-family: var(--font-primary);
    color: var(--color-white);
    font-size: var(--font-size-sm);
}

#hero-home .bottom-bar .copyright .text {
    display: flex;
    flex-direction: column;
}

/* #hero-home .bottom-bar .copyright .text span:nth-child(2) {
    margin-top: -10px;
} */

#hero-home .bottom-bar .copyright .number {
    position: relative; 
    top: 6px;
}

/* Media Query */

@media only screen and (max-width: 1550px) {
    #hero-home .container .content h1 {
        font-size: 80px;
        line-height: 80px;
    }
    #hero-home .container .content #accent-tag {
        font-size: 42px;
        margin-top: -60px;
    }
    #hero-home .container .cat-svg {
        right: 6rem;
        width: 270px;
    }
    #hero-home .container .cat-ball-svg {
        width: 220px;
    }
    #hero-home .container .cat-paw-svg {
        width: 360px;
    }
}

@media only screen and (max-width: 1050px) {
    #hero-home .container {
        min-height: 500px;
    }
    #hero-home .container .content h1 {
        font-size: 48px;
        line-height: 56px;
    }
    #hero-home .container .content #accent-tag {
        font-size: 36px;
        margin-top: -30px;
    }
    #hero-home .container .cat-svg {
        top: 52.5%;
        right: 2rem;
        width: 190px;
    }
    #hero-home .container .cat-ball-svg {
        width: 160px;
    }
    #hero-home .container .cat-paw-svg {
        width: 300px;
    }
}

@media only screen and (max-width: 750px) {
    #hero-home .container .content h1 {
        font-size: 38px;
        line-height: 52px;
    }
    #hero-home .container .content #accent-tag {
        font-size: 32px;
        margin-top: -30px;
    }
    #hero-home .container .cat-svg {
        top: 52%;
        right: 1.5rem;
        width: 150px;
    }
    #hero-home .tag {
        position: absolute;
        left: 1.3rem;
        top: 50%;
        transform: rotate(-90deg) translateY(-50%);
        transform-origin: left center;
        z-index: 2;
        margin-top: -10px;
        font-size: 12px;
        line-height: 22px;
        display: none;
    }
    #hero-home .bottom-bar .copyright {
        position: absolute;      
        right: -1.3rem;                 
        top: 50%;                 
        transform: rotate(-90deg) translateY(-50%);
        transform-origin: right center;
        margin-top: -185px;
        font-size: 12px;
        line-height: 22px;
        display: none;
    }
    #hero-home .container .cat-ball-svg {
        width: 140px;
    }
    #hero-home .container .cat-paw-svg {
        width: 240px;
    }
    #hero-home .bottom-bar button img {
        height: 30px;
    }
}

@media only screen and (max-width: 550px) { 
    #hero-home .container {
        min-height: 450px;
    }
    #hero-home .container .content h1 {
        font-size: 28px;
        line-height: 42px;
    }
    #hero-home .container .content #accent-tag {
        font-size: 28px;
        margin-top: -20px;
    }
    #hero-home .container .cat-svg {
        top: 40%;
        right: -1rem;
        width: 140px;
        transform: none;
    }
}