/* 
* Scan css
*/

#hero-scan {
    position: relative;
    background-color: var(--color-green);
    display: flex;
    justify-content: center;
}

#hero-scan .container {
    position: relative;
    max-width: 1600px;
    margin: 0 2.6rem;
    top: 100px;
    width: 100vw;
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    gap: 60px;
}

#hero-scan .container .content {
    width: 50%;
    height: 100%;
}

#hero-scan .container .content h1 {
    font-family: var(--font-primary);
    color: var(--color-white);
    font-size: 110px;
    line-height: 100px;
    white-space: nowrap;
}

#hero-scan .container .content p {
    font-family: var(--font-secondary);
    color: var(--color-white);
    font-size: 32px;
    line-height: 38px;
    white-space: nowrap;
    margin-top: -50px;
}

#hero-scan .container .content h1 span {
    display: block;
}

#hero-scan .container .content h1 span:last-child {
    margin-top: -1rem;
}

#hero-scan .container .start-scan {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
}

#hero-scan .container .start-scan button {
    background-color: transparent;
    border: none;
    max-width: 600px;
    width: 100%;
    height: calc(100% - 90px);
    margin-top: 90px;
    max-height: 900px;
}

#hero-scan .container .start-scan button:hover {
    cursor: none;
}

#hero-scan .container .start-scan button::after {
    content: '';
    position: absolute;
    display: flex;
    max-width: 600px;
    width: 100%;
    height: 100%;
    max-height: 900px;
    right: 0;
    top: 0;
    pointer-events: none;
    border-radius: inherit;
    box-sizing: border-box;
    background: 
        repeating-linear-gradient(
            to right,
            var(--color-white) 0,
            var(--color-white) 20px,
            transparent 20px,
            transparent 40px
        ) top/100% 8px repeat-x,
        repeating-linear-gradient(
            to right,
            var(--color-white) 0,
            var(--color-white) 20px,
            transparent 20px,
            transparent 40px
        ) bottom/100% 8px repeat-x,
        repeating-linear-gradient(
            to bottom,
            var(--color-white) 0,
            var(--color-white) 20px,
            transparent 20px,
            transparent 40px
        ) left/8px 100% repeat-y,
        repeating-linear-gradient(
            to bottom,
            var(--color-white) 0,
            var(--color-white) 20px,
            transparent 20px,
            transparent 40px
        ) right/8px 100% repeat-y;
}

#hero-scan .brain-svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 400px;
  z-index: -1;
  pointer-events: none;
}

/* Media Query */

@media only screen and (max-width: 1550px) {
    #hero-scan .container .content h1 {
        font-size: 80px;
        line-height: 80px;
    }
    #hero-scan .container .content p {
        font-size: 28px;
        line-height: 36px;
    }
    #hero-scan .container .start-scan button {
        max-width: 500px;
    }
    #hero-scan .container .start-scan button::after {
        max-width: 500px;
    }
}

@media only screen and (max-width: 1200px) {
    #hero-scan .container .content h1 {
        font-size: 62px;
        line-height: 68px;
    }
    #hero-scan .container .content p {
        margin-top: -30px;
    }
    #hero-scan .container .start-scan button {
        max-width: 400px;
    }
    #hero-scan .container .start-scan button::after {
        max-width: 400px;
    }
}

@media only screen and (max-width: 1050px) {
    #hero-scan .container {
        flex-direction: column;
        gap: 60px;
        min-height: 568px;
    }
    #hero-scan .container .content {
        height: max-content;
        width: 100%;
        margin-top: 0px;
    }
    #hero-scan .container .content h1 {
        font-size: 48px;
        line-height: 56px;
        margin: 0;
        margin-bottom: 35px;
    }
    #hero-scan .container .content p {
        font-size: 28px;
        line-height: 36px;
        margin-top: -30px;
        margin-bottom: 0px;
    }
    #hero-scan .container .start-scan {
        height: max-content;
        width: 100%;
        max-width: 100%;
        margin-top: 0px;
    }
    #hero-scan .container .start-scan button {
        max-width: 600px;
        width: 100%;
        margin-top: 0px;
        height: 300px;
    }
    #hero-scan .container .start-scan button::after {
        max-width: 600px;
        width: 100%;
        margin-top: 0px;
        height: 300px;
    }
    #hero-scan .brain-svg {
        width: 300px;
    }
    #hero-scan .container .start-scan button:hover {
        cursor: pointer;
    }
}

@media only screen and (max-width: 750px) {
    #hero-scan .container {
        min-height: 450px;
    }
    #hero-scan .container .content h1 {
        font-size: 38px;
        line-height: 52px;
        margin: 0;
        margin-bottom: 35px;
        margin-top: 25px;
    }
    #hero-scan .container .content p {
        font-size: 22px;
        line-height: 28px;
        margin-top: -30px;
        margin-bottom: 0px;
    }
    #hero-scan .brain-svg {
        width: 240px;
    }
    #hero-scan .container .start-scan,
    #hero-scan .container .start-scan button {
        height: 100%;
    }
    #hero-scan .container .start-scan button::after {
        height: 100%;
        background: 
        repeating-linear-gradient(
            to right,
            var(--color-white) 0,
            var(--color-white) 20px,
            transparent 20px,
            transparent 40px
        ) top/100% 6px repeat-x,
        repeating-linear-gradient(
            to right,
            var(--color-white) 0,
            var(--color-white) 20px,
            transparent 20px,
            transparent 40px
        ) bottom/100% 6px repeat-x,
        repeating-linear-gradient(
            to bottom,
            var(--color-white) 0,
            var(--color-white) 20px,
            transparent 20px,
            transparent 40px
        ) left/6px 100% repeat-y,
        repeating-linear-gradient(
            to bottom,
            var(--color-white) 0,
            var(--color-white) 20px,
            transparent 20px,
            transparent 40px
        ) right/6px 100% repeat-y;
    }
}

@media only screen and (max-width: 550px) { 
    #hero-scan .container {
        margin: 0 1.3rem;
        gap: 60px;
    }
    #hero-scan .container .content h1 {
        font-size: 28px;
        line-height: 42px;
        margin-bottom: 25px;
    }
    #hero-scan .container .content p {
        font-size: 18px;
        line-height: 22px;
        margin-top: -20px;
        white-space: wrap;
    }
    #hero-scan .container .start-scan {
        margin: 0 2.6rem;
        width: calc(100% - 5.2rem);
    }
    #hero-scan .brain-svg {
        width: 210px;
    }
}