/* 
* Header css
*/

header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

header .container {
    margin: 0 2.6rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

header .container nav {
    width: 100%;
}

header .container nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

header .container nav ul li,
header .container nav ul a li {
    font-family: 'primaireFont', sans-serif;
    color: var(--color-white);
    font-size: var(--font-size-sm);
    display: flex;
    align-items: center;
}

header .container nav ul li:hover {
    cursor: pointer;
}

header .container nav ul a li img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70px;
}

header .container nav #menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .container nav #menu .lines {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: -4px;
}

header .container nav #menu .lines span {
    width: 60px;
    height: 4px;
    background-color: var(--color-white);
    transition: background-color 0.5s ease;
}

header.is-active .container nav #menu .lines span {
    background-color: var(--color-blue);
}

/* Media Query */

@media only screen and (max-width: 550px) {
    header .container nav ul a:first-child {
        display: none;
    }
    header .container nav ul a li img {
        position: relative;
        top: auto;
        left: auto;
        transform: inherit;
        height: 60px;
    }
    header .container {
        margin: 0 1.3rem;
    }
}